body{
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
#search{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}
img{
    padding: 1em;
}

